body {
  background-color: #6bc96b;
}

h1 {
   font-family: Arial;
   font-size: 3em;
}

p {
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 1.5em;
   color: purple;
}

a {
   color: white;
   border: solid 1px black;
}

nav {
display: flex;
justify-content: flex-end;
margin: 2px;

}

